# http://editorconfig.org
# Source: pydanny cookiecutter-django repo
root = true
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
[*.{rst,ini}]
indent_style = space
indent_size = 4
[*.yml]
indent_style = space
indent_size = 2

# isort config
[*.py]
max_line_length = 120
indent_style = space
indent_size = 4
known_first_party = pelican
skip = runtests.py
balanced_wrapping = true
not_skip = __init__.py
