[submodule "pelican-fontawesome"]
	path = pelican-fontawesome
	url = https://github.com/kura/pelican-fontawesome.git
[submodule "pelican_youtube"]
	path = pelican_youtube
	url = https://github.com/kura/pelican_youtube.git
[submodule "pelican_vimeo"]
	path = pelican_vimeo
	url = https://github.com/kura/pelican_vimeo.git
[submodule "cjk-auto-spacing"]
	path = cjk-auto-spacing
	url = https://github.com/yuex/cjk-auto-spacing.git
[submodule "pelican-gist"]
	path = pelican-gist
	url = https://github.com/streeter/pelican-gist.git
[submodule "pelicanfly"]
	path = pelicanfly
	url = https://github.com/bmcorser/pelicanfly.git
[submodule "pelican-flickr"]
	path = pelican-flickr
	url = https://github.com/La0/pelican-flickr.git
[submodule "better_code_samples"]
	path = better_code_samples
	url = https://github.com/ChrislS/better_code_samples.git
[submodule "pin_to_top"]
	path = pin_to_top
	url = https://github.com/Shaked/pin_to_top.git
