%(head_prefix)s
%(head)s
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap core CSS =================================================== -->
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="docs-min.css" rel="stylesheet">
<link href="custom.css" rel="stylesheet">
%(stylesheet)s
%(body_prefix)s
%(body_pre_docinfo)s
%(docinfo)s
<div class="row">
%(body)s
</div>
</div>

<!-- Bootstrap core JavaScript ============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

%(body_suffix)s
